* {
    margin: 0;
    padding: 0;
}

html, body, #field {
    width: 100%;
    height: 100%;
}

#field {
    position: relative;
    overflow: hidden;
    background: url('background.png') center bottom no-repeat;
    background-size: cover;
}

.gameOver_message {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    height: 10%;
    text-align: center;
    background: black;
    color: white;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s;
    display: table;
}

.gameOver_message span {
    vertical-align: middle;
    display: table-cell;
}

#hero {
    position: absolute;
    width: 3vh;
    height: 9vh;
    left: 18vh;
    bottom: 3vh;
    z-index: 1;
    background: url('hero.png') center bottom no-repeat;
    background-size: contain;
}

#hero.jump {
    bottom: 6vh;
}

#ground {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background: url('ground.png') center top;
}

.hole {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3vh;
    height: 3vh;
    background: #6b8cff;
}

.gameOver #hero {
    bottom: 0;
}

.gameOver .gameOver_message {
    opacity: 1;
}
