* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #container {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.hide {
    display: none !important;
}

#container {
    margin: 0 auto;
}

#container::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.light {
    width: 46%;
    height: 46%;
    float: left;
    margin: 2%;
    position: relative;
    overflow: hidden;
}

.light::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.2s;
}

.light.on::after, .light:active::after {
    background-color: rgba(0, 0, 0, 0); 
}

#l0 {
    border-radius: 100% 0 0 0;
    background: yellow;
}

#l1 {
    border-radius: 0 100% 0 0;
    background: blue;
}

#l2 {
    border-radius:  0 0 0 100%;
    background: red;
}

#l3 {
    border-radius:  0 0 100% 0;
    background: green;
}

#display {
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: calc(50% - 10vh);
    left: calc(50% - 10vh);
    background-color: white;
    border-radius: 50%;
    text-align: center;
    transition: background-color 0.2s;
}

#display.on {
    background-color: yellow;
}

#display.fail {
    background-color: red;
}

#display.pass {
    background-color: green;
}

.displayInner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#display p {
    opacity: 0;
    text-transform: uppercase;
    transition: opacity 0.2s;
}

#display p:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

#start {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

#points {
    font-size: 3rem;
}

#display.start #start {
    opacity: 1;
}

#display:not(.stat) #points {
    opacity: 1;
}

#display.on #yourTurn {
    opacity: 1;
}

#display.fail #fail {
    opacity: 1;
}

#display.pass #pass {
    opacity: 1;
}